/* Reglas
selectores
declaraciones
propiedades
valores */


/* Selector de etiqueta header - section - article - nav */
/* Selectro descendente - hijo de otro elemento
body/header/div/nav/ol/li/a */
/* Selector de clase sirve para usar y replicarlo más veces, siempre debe comenzar con un "." */
/* ejemplo .link */
/* Para hacer un selector de id se usa el #, por ejemplo #portafolio */


body {
    font-family: poppins;
}

header {
    background-color: #1b2127;
    color: white;
}


h1 {
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: -.2px;
    color: white;
}

.hero {
    height: 300px;
    background-image: url('/Assets/IMG_0104.JPG');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

h1 strong {
    color: rgb(185, 67, 67);
}

.project {
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
}

.project__details {
    width: 500px;
}

.project__image {
    width: 500px;
}

.header a {
    color: white;
    text-decoration: none;
}